name: Postman API Test
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Install Newman
        run: npm install -g newman
 
      - name: Run Postman Collection
        run: newman run "Petstore API Automation.postman_collection.json"