name: Postman API Test (Allure)

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 3️⃣ Install Newman + Allure reporter
      - name: Install Newman & Allure Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-allure

      # 4️⃣ Run Postman collection
      - name: Run Postman Collection
        run: |
          newman run "Petstore API Automation.postman_collection.json" \
            -r allure \
            --reporter-allure-export allure-results

      # 5️⃣ Generate Allure Report (Official Action)
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@v1
        with:
          allure_results: allure-results
          allure_report: allure-report

      # 6️⃣ Upload Allure Report
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: Allure-Report
          path: allure-report
